
// Body
$body-bg: #f5f5f5;


$primary-color: #000;
$primary-font: "Roboto", sans-serif;
$primary-color-light: #fff;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;


//Components
//Buttons
$btn-color: #fff;
$btn-bg: none;
$btn-border: 2px white solid;

$btn-color-hover: #000;
$btn-bg-hover: #fff;

//Button Dark
$btn-dark-color: #000;
$btn-dark-border: 2px black solid;

$btn-dark-color-hover: #fff;
$btn-dark-bg-hover: #000;
$btn-dark-border-hover: 2px black solid;

//Forms
$form-color: #9B9B9B;
$form-input-bg: #fcfcfc;

//Footer
$footer-height: 10em;